*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightblue;
}
#app{
  height: 100vh;
  width: 100vw;
}
#navbar{
  height: 8vh;
  width: 100vw;
  background-color: black;
  padding: 3vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo>img{
  width: 10vmax;
}
#logo{
  transition: all 0.2s;
}
#logo:hover{
  transform: scale(1.1);
}

#options{
  color: white;
  display: flex;
  gap: 2vmin;
  font-size: 3vmin;
}
#option{
  transition: all 0.2s;
}
#option:hover{
  text-decoration: underline;
  color: rgb(0, 183, 244);
}
#components{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vmin;
  font-size: 3vmax;
  color: darkred;
  gap: 7vmin;
}